body{
    background-color: black; display: grid;place-items: center; height: 100vh; margin: 0;
}
h1{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    color: white;
}
li{
    color: white;
}
img{
    margin: 20px;
}
